.navbar {
  background-color: rgb(214, 91, 91);
  text-align: center;
  max-width: 100%;
  height: 55px;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 470px;
  height: 168px;
  left: 40px;
  top: 100px;
}

p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.location {
  position: absolute;
  width: 40px;
  height: 10px;
  left: 195px;
  top: 119px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;

  color: #2B283A;
}

.img {

position: absolute;
width: 125px;
height: 168px;
left: 40px;
top: 100px;

background: url();
border-radius: 5px;
}

.google-maps {
  position: absolute;
  width: 106px;
  height: 13px;
  left: 247px;
  top: 119px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;

  /* identical to box height */
  text-decoration-line: underline;

  color: #918E9B;
}

.title {

  position: absolute;
  width: 326px;
  height: 40px;
  left: 184px;
  top: 136px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;
}

.date {
  position: absolute;
  width: 319px;
  height: 11px;
  left: 184px;
  top: 183px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2B283A;
}

.content {
  position: absolute;
  width: 326px;
  height: 45px;
  left: 184px;
  top: 203px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;

  /* or 15px */

  color: #2B283A;


}

